.regenerate-wrapper {
  background-color: rgb(47, 46, 46);
  padding: 1.2rem;
}

.regenerate-head {
  gap: 2rem;
  margin-bottom: 4rem;
  position: relative;
}

.regenerate-head > :nth-child(1) {
  font-size: 2rem;
  font-weight: bold;
}

.regenerate-head > :nth-child(2) {
  color: white;
  font-size: 2rem;
  font-weight: 500;
  left: 6rem;
  position: absolute;
  top: 3rem;
}

.regenerate-head > :nth-child(3) {
  font-size: 2rem;
  font-weight: bold;
  left: 14rem;
  position: absolute;
  top: 6rem;
}

.commercial-container {
  gap: 2rem;
  justify-content: center;
  padding-top: 2.5rem;
}

.commercial-container > span {
  padding: 0 8rem;
  text-align: center;
}

.umbrella-switch-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 !important;
  width: 100%;
}

.umbrella-switch-container > :first-child {
  color: white;
}

.umbrella-switch {
  cursor: pointer;
  height: 80px !important;
  transition: all 200ms ease-in;
  width: 80px !important;
}


.link-tvirus:hover {
  color: blue;
  text-decoration: underline;
}

.commercial-container > :nth-child(4) {
  color: white;
}

.video-container {
  display: none;
  gap: 0.5rem;
  opacity: 0;
  width: 100%;
}

.commercial-video {
  border: none;
}

@media (max-width: 800px) {
  .regenerate-head > :nth-child(1) {
    font-size: 1.5rem;
    left: 0;
    text-align: center;
    width: 100%;
  }

  .regenerate-head > :nth-child(2) {
    font-size: 1.35rem;
    text-align: center;
    left: 0;
    width: 100%;
  }

  .regenerate-head > :nth-child(3) {
    font-size: 1.4rem;
    left: 0;
    text-align: center;
    width: 100%;
  }

  .commercial-container > span,
  .commercial-container > span > :first-child,
  .commercial-container > span > :last-child {
    font-size: 0.8rem;
  }

  .commercial-container > span {
    padding: 0 1rem;
  }

  .video-container > span {
    text-align: center;
    font-size: 0.8rem;
  }

  .commercial-video {
    height: 18rem;
  }
}
