.regenerate-wrapper {
  background-color: rgb(47, 46, 46);
}

.regenerate-head {
  position: relative;
  gap: 2rem;
  margin-bottom: 4rem;
}

.regenerate-head > :nth-child(1) {
  font-size: 2rem;
  font-weight: bold;
}

.regenerate-head > :nth-child(2) {
  font-size: 2rem;
  font-weight: 500;
  position: absolute;
  color: white;
  top: 3rem;
  left: 6rem;
}

.regenerate-head > :nth-child(3) {
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  top: 6rem;
  left: 14rem;
}

.commercial-container {
  padding-top: 2.5rem;
  gap: 2rem;
  justify-content: center;
}

.umbrella-switch-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0 !important;
  flex-direction: column;
  align-items: center;
}

.umbrella-switch-container > :first-child {
  color: white;
}

.umbrella-switch {
  width: 80px !important;
  height: 80px !important;
  cursor: pointer;
}

.commercial-container > span {
  padding: 0 8rem;
  text-align: center;
}

.link-tvirus:hover {
  color: blue;
  text-decoration: underline;
}

.commercial-container > :nth-child(5) {
  color: white;
  margin-top: 1rem;
}

.video-container {
  gap: 0.5rem;
  width: 100%;
  display: none;
  opacity: 0;
}

.commercial-video {
  border: none
}

@media(max-width: 640px) {
   .regenerate-head > :nth-child(1) {
    font-size: 1.5rem;
    left: 0;
    text-align: center;
    width: 100%;
  }

  .regenerate-head > :nth-child(2) {
    font-size: 1.35rem;
    left: 0;
    text-align: center;
    width: 100%;
  }

  .regenerate-head > :nth-child(3) {
    font-size: 1.4rem;
    left: 0;
    text-align: center;
    width: 100%;
  }

  .commercial-container > span,
  .commercial-container > span > :first-child,
  .commercial-container > span > :last-child

    {
    font-size: 0.8rem;
  }

  .video-container > span {
    text-align: center;
    font-size: 0.8rem;
  }
  
  .commercial-video {
    height: 18rem;
  }
  
}
