.contact-wrapper {
  background-color: rgb(47, 46, 46);
}

.contact-container {
  align-items: end;
  justify-content: space-around;
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.contact-left {
  gap: 0.5rem;
}

.contact-left > span {
  text-align: center;
  width: 100%;
}

.contact-left > :nth-child(1) {
  color: #f64d4d;
  font-weight: bold;
  font-size: 2rem;
}

.contact-left > :nth-child(2) {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

.contact-left > :nth-child(3) {
  color: #f49b80;
  font-weight: bold;
  font-size: 1.2rem;
}

.contactModes {
  gap: 1rem;
  margin-top: 2rem;
  width: 100%;
}

.row {
  justify-content: center;
  width: 100%;
}

.contactModes .row {
  gap: 1.5rem;
}

.mode {
  background: #f11818;
  border-radius: 5px;
  gap: 1rem;
  padding: 1rem;
  transition: all 300ms ease-in;
  width: 16rem;
}

.mode:hover {
  box-shadow: 0px 4px 4px #f42323;
  scale: 1.1;
}

.mode .button {
  background: #e79191;
  font-size: 0.9rem;
  font-weight: 600;
  width: 100%;
}

.mode > .button:hover {
  background: #f42323;
  scale: 0.8;
}

.mode > :first-child {
  width: 100%;
  gap: 1.6rem;
}

.detail > :first-child {
  font-weight: bold;
  color: white;
}

.detail > :nth-child(2) {
  color: white;
}

@media (max-width: 640px) {

  .contact-container {
    padding-top: 3rem;
  }

  .contact-left > :nth-child(1) {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
  }

  .contact-left > :nth-child(2) {
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
  }

  .row {
    flex-direction: column;
  }

  .contactModes, .row {
    width: 100%;
  }

  .mode {
    width: 70%;
  }

  .contact-right {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

@media(max-width: 1024px) {
  .contact-left > :nth-child(1) {
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
  }

  .contact-left > :nth-child(2) {
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
  }
  
  .contactModes, .row {
    width: 100%;
    justify-content: center;
  }
  
}