.h-wrapper {
  color: #ffffff;
}

.h-container {
  justify-content: space-between;
  padding: 1rem 0;
  color: var(--secondary);
  border-bottom: 4px solid white;
}

.h-menu {
  gap: 2rem;
}

.h-menu > a {
  color: white;
}

.button > a:hover {
  color: white;
}

.h-menu > *:hover {
  cursor: pointer;
  color: rgb(228, 156, 156);
  text-decoration: underline;
}

.button {
  background: rgb(221, 53, 53);
  color: white;
  border: 1px solid white;
}

.menu-icon {
  display: none;
}

@media (max-width: 768px) {
  .h-container {
    justify-content: space-around;
  }

  .h-menu {
    background-color: white;
    position: absolute;
    top: 3rem;
    right: 4rem;
    flex-direction: column;
    font-weight: 500;
    gap: 2rem;
    padding: 2rem;
    border-radius: 10px;
    align-items: flex-start;
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.05);
    transition: all 300ms ease-in;
    z-index: 2;
  }

  .h-menu > a {
    color: red;
  }

  .menu-icon {
    display: block;
  }
}

@media (max-width: 1536px) {
  .h-container {
    justify-content: space-around;
  }
}