.value-container {
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.value-container > div {
  flex: 1;
}

.value-right {
  gap: 0.5rem;
}

.value-right > :nth-child(1)
 {
  font-size: 1.6rem;
  font-weight: bold;
}

.value-right > :nth-child(2) {
  font-size: 1.8rem;
  font-weight: bold;
}

.value-right > :nth-child(3) {
  font-size: 1.2rem;
  font-weight: bold;
}

.accordion {
  border: none;
  margin-top: 2rem;
}

.accordionItem {
  background-color: white;
  border: 0.8px solid rgba(128, 128, 128, 0.143);
  border-radius: 8px;
  margin-bottom: 20px;
  overflow: hidden;
}

.expanded {
  box-shadow: 4px 4px 4px #f47373;
  border-radius: 6px;
}

.accordionButton {
  background-color: white;
  cursor: pointer;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}

.icon {
  background-color: #eeeeff;
  border-radius: 5px;
  padding: 10px;
}

.icon > svg {
  fill: red;
}

.accordionButtonText {
  color: #f42323;
  font-size: 1.5rem;
  font-weight: bold;
}

@media(max-width: 640px) {
  .image-container {
    width: 100%;
  }

  .image-container > .value-image {
    height: 100%;
    width: 100%;
  }
  
  .value-right {
    gap: 0;
  }

  .value-right > :nth-child(1) {
    font-size: 1.2rem;
  }

  .value-right > :nth-child(2) {
    font-size: 1.3rem;
  }

  .accordion {
    margin-top: 0.8rem;
  }

  .accordion__panel {
    font-size: 0.8rem;
    padding-top: 0;
    text-align: center;
  }

  .accordionButtonText {
    font-size: 0.9rem;
  }
}

@media(max-width: 1024px) {
  .value-container {
    flex-direction: column;
  }
}
