.footer-wrapper {
  background-color: rgb(249, 230, 230);
}

.footer-container {
  gap: 1rem;
  justify-content: space-between;
  padding-top: 3rem;
}

.first-row {
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.left-footer > :nth-child(2) {
  font-size: 1.2rem;
  text-align: center;
  width: 100%;
}

.oms-container {
  justify-content: center;
  width: 100%;
}

.umbrella-title-left {
  color: red;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.oms-logo {
  height: 10rem;
  width: 18rem;
}

.right-footer {
  align-items: flex-start;
  width: 60%;
}

.solutions-umbrella {
  align-items: flex-start;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.support-content {
  align-items: flex-start;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.solutions-container,
.umbrella-container,
.support-container,
.content-container {
  font-size: 1.1rem;
  gap: 1.3rem;
}

.footer-link:hover {
  color: rgb(228, 156, 156);
  text-decoration: underline;
}

.second-row {
  gap: 2rem;
  width: 100%;
}

@media (max-width: 500px) {
  .right-footer {
    flex-direction: column;
    gap: 1.4rem !important;
    width: 100%;
  }

  .solutions-container,
  .umbrella-container,
  .support-container,
  .content-container {
    gap: 0.2rem !important;
    justify-content: center;
    text-align: center !important;
    width: 100% !important;
  }

  .solutions-container h3,
  .umbrella-container h3,
  .support-container h3,
  .content-container h3,
  .solutions-container span,
  .umbrella-container span,
  .support-container span,
  .support-container div,
  .content-container span {
    font-size: 1rem;
    width: 100%;
  }
}

@media (max-width: 640px) {
  .footer-container {
    padding-top: 1rem !important;
  }

  .first-row {
    gap: 0rem;
  }

  .left-footer {
    width: 100%;
  }

  .left-footer > :first-child {
    font-size: 1.4rem;
    text-align: center;
    width: 100%;
  }

  .right-footer {
    width: 100%;
    gap: 1.4rem !important;
  }

  .solutions-container,
  .umbrella-container,
  .support-container,
  .content-container {
    gap: 0.2rem !important;
    justify-content: center;
    text-align: center !important;
    width: 100% !important;
  }

  .solutions-container h3,
  .umbrella-container h3,
  .support-container h3,
  .content-container h3,
  .solutions-container span,
  .umbrella-container span,
  .support-container span,
  .support-container div,
  .content-container span {
    font-size: 0.8rem;
    width: 100%;
  }

  .second-row {
    margin-top: 1rem;
  }
}

@media (min-width: 640px) and (max-width: 900px) {
  .footer-container {
    gap: 2rem;
  }

  .first-row {
    gap: 0rem;
    justify-content: center;
  }

  .right-footer {
    flex-direction: column;
    gap: 3rem;
  }

  .solutions-container,
  .umbrella-container,
  .support-container,
  .content-container {
    gap: 0.5rem;
  }
}
