.login-container {
  background-color: rgb(241, 190, 190);
  border: 2px solid rgb(0, 0, 0);
  gap: 0.5rem;
  padding: 1.5rem;
  position: absolute;
  right: -100%;
  top: 200%;
  z-index: 10;
  transition: all 300ms ease-in;
}

.login-container > label {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0.5rem;
  color: rgb(231, 4, 4);
}

.login-input {
  padding: 0.5rem;
}

.forgot-password:hover {
  color: blue;
  text-decoration: underline;
}

